/*general settings for customize class*/
#customize{
    position: relative;
    right:0%;
    font-size: 0.8rem;
    
    
}

/*apply style to input color box on pages "index", "symptoms" and "prevention"*/
#customize > input{
    border-radius: 5px;
    outline: 0;
    height: 25px;
    
}

/*Apply style to button on mouse hover*/
#customize > button:hover{
    background-color:black;
    color: whitesmoke;
    text-decoration: bold;
    
}

/*Apply style to label*/
#customize > label{
    width: 100%;
    color: whitesmoke;
    display: block;
}

/*Color and styling for DRAW CHART buttons on Statistics_data.html page (Total Worldwide cases)*/
#chart_options_csv>button{
    padding: 15px;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
  
}

/*Changing color on mouse hover*/
#chart_options_csv > button:hover{
    background-color: #fff;
    color: #222;
}

/*Color and styling for DRAW CHART buttons on Statistics_data.html page (Totals in Ireland)*/
#chart_options_array>div>button{
    padding: 15px;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;

}

/*Changing color on mouse hover*/
#chart_options_array > div>button:hover{
    background-color: #fff;
    color: #222;
}

