
#main{
    position: absolute;
    top: auto;
    left: auto;
    /*min-width:300px;*/
    max-width: 700px;
    height: auto;
    margin: 20px;
    padding: 10px;
    width: 100%;
    max-height: 100%;
    font-family: apple-system, BlinkMacSystemFont, Roboto, "Open Sans",Helvetica, Arial, sans-serif;
    line-height: 1.64;
    text-rendering: optimizeLegibility;
    word-break: break-word;
}

#customize{
    position: relative;
    /*float: right;*/
    right:0%;
    /*background-color: ivory;*/
    /*border: 1px solid black;*/
    font-size: 0.8rem;
    
}

#customize > input{
    border-radius: 5px;
    outline: 0;
    height: 25px;
    padding: 5px;
}

#customize > button{
    padding: 10px;
    /*border-radius: 5px;*/
    /*display: block;*/
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
    position: absolute;}/*
    right:0%;
}
*/
#customize > button:hover{
    background-color: #fff;
    color: #222;
}

#customize > label{
    
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}

#welcome{
    /*position: absolute;*/
    top: auto;
    left: auto;
    /*min-width:300px;*/
    max-width: 900px;
    height: auto;
    
    list-style-type:disc;
    margin: 20px;
    padding: 10px;
}

#main ul li {
    margin-left:40px;
    list-style:disc;    
    
}
/*Color and styling for DRAW CHART buttons on Statistics_data.html page*/
#chart_options_csv>button{
    padding: 15px;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
    
    
}

#chart_options_csv > button:hover{
    background-color: #fff;
    color: #222;
}

#chart_options_array>div>button{
    padding: 15px;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;

}

#chart_options_array > div>button:hover{
    background-color: #fff;
    color: #222;
}

