
/*Resetting default browsers*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Reseting list values*/
ul, ol, li{
    list-style: none;
}

/*set color, width, height and font for nav menu, which will be the main menu bar*/
body{
    background-color: #dfe4e6;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 58px;
}

/*Style for text, background color, text color and padding for header in all pages*/
header{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/*Applying font and marging style for header "h1"*/
header h1{
    font-size: 40px;
    margin-bottom: 30px;
}

/*Applying font style for "p"*/
header p{
    font-size: 22px;
}

/*styling items on main section for all pages*/
main{
    width: 90vw;
    margin: 0 auto;
    padding:  30px 20px 20px 20px;
    max-width: 1000px;
    margin-bottom: 100px;
    line-height: 1.64;
    text-rendering: optimizeLegibility;
    text-align: justify;
    word-break: break-word;
    font-size: 18px;
}




/*Change bar charts to black on mouse hover on page "Statistics_data.html*/
rect:hover {
    fill: black;
}

/*applying color red for footer to matches with covid logo */
footer{
    text-align: center;
    background-color: #FF2F2F;
    position: fixed;
    bottom: 0; 
    width: 100% 
}