#menu{
    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: 'Arial';
    margin: auto;
    
   
    
}

/*reset margin, style and position for list in nav menu ul*/
#menu ul{
    margin:0;
    list-style: none;
    position: relative;
    
}

/*separates item on list with equal distance on future menu bar*/
#menu ul li{
    width: 150px;
    float: left;
}

/*font and background color for menu items*/
#menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
}
/*Hide element lists*/
#menu ul ul{
    position: absolute;
    visibility: hidden;
}

/*Show hidden elements list on mouse hover*/
#menu ul li:hover ul{
    visibility: visible;
    margin: 0;
    padding: 0;
}

/*change color on mouse hover for elements in list*/
#menu a:hover{
    background-color: #f4f4f4;
    color: #555;
}
/*Positioning items in submenu in a list format*/
#menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
}

/*background color for items in submenu*/
#menu ul ul li a{
    background-color: #069;
}

/*Exibhits and stylize the bt_menu item chkbox*/
label[for="bt_menu"]{
    margin:0;
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;;
    height: 50px;
}

/*Hiding chkbox square and leaving only sandwich button*/
#bt_menu{
    display: none;
}

/*Hiding sandwich button*/
label[for="bt_menu"]{
    display: none;
}

/**/

/*Resizing window automatically:*/
/*Show sandwich button if window is resized under 800px*/
@media(max-width: 800px){
    label[for="bt_menu"]{
        display: block;
    }
    
    /*Reset margin for sandwich button*/
    #bt_menu:checked ~ #menu{
        margin-left: 0;
    }

    /*creates the effect of hiding the menu by setting margin-left to -100%*/
    #menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    
    /*resizes all widths to the ul li width*/
    #menu ul li{
        width: 100%;
        float: none;
    }

    /*Hide submenu items*/
    #menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    /*display submenu when hover mouse*/
    #menu ul li:hover ul{
        height: auto;
        max-height: 200px;
        
    }
}