*{
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

body{
    background-color: #dfe4e6;
    font-family: "Open Sans", sans-serif;
    
    
}

ul, ol, li{
    list-style: none;
}